@use "env";
/* 
-- BODY BORDER COLOR --
*/

body {
  --body-color: transparent;
  border-left: 1rem solid var(--body-color) !important;
}

/* The body color is orange. when a tag with qa-test is applied */
%test-label-body-style {
  --body-color: var(--f-warning);
}
@each $test_label in env.$test_labels {
  body:has(.discussion-sidebar-item [data-name*="#{$test_label}"]) {
    @extend %test-label-body-style;
  }
}

/* The body color is green when a tester left a comment  */
body:has(.author[href*="#{env.$test_username}"]) {
  --body-color: var(--f-positive);
}

/* The body color is red when the PR is in draft */
body:has([reviewable_state="draft"]) {
  --body-color: var(--f-error);
}

/* The body color is red when the PR has pipeline issues */
body:has(.merge-status-item .color-fg-danger) {
  --body-color: var(--f-error);
}

body:has(.State--merged) {
  --body-color: var(--f-merge);
}
