@use "env";

/* 
-- OUTLINE COMMENTS --
 */

/* configure an outline for comments */
.review-thread-component {
  --comment-outline-color: var(--f-error-border);
  outline: 2px solid var(--comment-outline-color);
  opacity: var(--comment-opacity);
  border: none !important;

  > summary {
    background-color: var(--comment-outline-color) !important;
  }
}

/* always show the comment   */
.js-comment-container:hover {
  opacity: 1;
}

/* set the comment to orange when I commented last */
:where(
    .review-thread-component:has(
        .js-comments-holder
          > div:nth-last-child(1)
          img[src*="#{env.$my_user_id}"]
      )
  ) {
  --comment-outline: 2px solid var(--f-warning-border);
  transition: 0.15s ease;
}

/* gray out the comment and mark it green when i commented last with a commit hash */
:where(
    .review-thread-component:has(
        .js-comments-holder
          > div:nth-last-child(1)
          img[src*="#{env.$my_user_id}"]
      ):has(
        .js-comments-holder > div:nth-last-child(1) .commit-link,
        [href*="/compare/"]
      )
  ) {
  --comment-outline-color: var(--f-positive-border);
  --comment-opacity: 0.5;
}

.review-thread-component[data-resolved="true"] {
  --comment-outline-color: var(--f-positive-border);
}
