@use "env";
/*
-- MESSAGES --
*/

.fs-messages:before,
.fs-errors:before,
.fs-error,
.fs-message {
  --background: var(--f-info-border);
  --border: var(--f-info);
  content: var(--message);
  padding: 8px;
  background-color: var(--background);
  color: white;
  border-radius: 4px;
  margin-bottom: 1rem;
  display: flex;
  border-left: 8px solid var(--border);
}

:where(.fs-message, .fs-error) a {
  color: inherit;
  text-decoration: underline;
}

.fs-errors:before,
.fs-error {
  content: var(--error);
  --background: var(--f-error-border);
  --border: var(--f-error);
}

body:has(#lock-merge:checked) {
  --error: "Merging is blocked!";
}

body:has([title*="fixup!"]) {
  --error: "Please rebase fixups before merging!";
}

@mixin disabled-button {
  .fs-errors + div {
    [class*="prc-Button-ButtonBase"] {
      opacity: 0.2;
      pointer-events: none;
    }
    cursor: not-allowed;
  }
}

body:has(.fs-error) {
  @include disabled-button;
}

@container style(--error) {
  body {
    @include disabled-button;
  }
}

body:not(
    body:has(
        .js-discussion
          > .TimelineItem:nth-child(1)
          [alt*="#{env.$my_user_name}"]
      )
  ) {
  --error: "This is not your PR to merge!";
}
