/*
Comments:
- outline:red = not responded
- outline:orange = responded
- outline:green = responded with commit

page: 
- border:red = change requested
- border:orange = status:test
- border:green = tested
*/

:root {
  --f-merge: #8957e5;
  --f-merge-border: #8957e5;
  --f-error: rgb(231, 12, 8);
  --f-error-border: rgb(168, 43, 41);
  --f-warning: rgb(236, 164, 6);
  --f-warning-border: rgb(210 153 34);
  --f-positive: #238636;
  --f-positive-border: #21672e;
  --f-info: #4493f8;
  --f-info-border: #1f3356;
}

/* 
-- OUTLINE COMMENTS --
 */

/* configure an outline for comments */
.review-thread-component {
  --comment-outline-color: var(--f-error-border);
  outline: 2px solid var(--comment-outline-color);
  opacity: var(--comment-opacity);
  border: none !important;
}

/* always show the comment   */
.js-comment-container:hover {
  opacity: 1;
}

/* set the comment to orange when I commented last */
:where(
    .review-thread-component:has(
        .js-comments-holder > div:nth-last-child(1) img[src*="175005199"]
      )
  ) {
  --comment-outline: 2px solid var(--f-warning-border);
  transition: 0.15s ease;
}

/* gray out the comment and mark it green when i commented last with a commit hash */
:where(
    .review-thread-component:has(
        .js-comments-holder > div:nth-last-child(1) img[src*="175005199"]
      ):has(
        .js-comments-holder > div:nth-last-child(1) .commit-link,
        [href*="/compare/"]
      )
  ) {
  --comment-outline-color: var(--f-positive-border);
  --comment-opacity: 0.5;
}

.review-thread-component[data-resolved="true"] {
  --comment-outline-color: var(--f-positive-border);
}

/* 
-- DRAFT BUTTON COLOR --
*/

/* outline the tag button with red */
[reviewable_state="draft"] {
  outline: 1rem solid var(--f-merge);
}

/* 
-- BODY BORDER COLOR --
*/

body {
  --body-color: transparent;
  border-left: 1rem solid var(--body-color) !important;
}

/* The body color is orange. when a tag with qa-test is applied */
body:has(
    .discussion-sidebar-item [data-name*="QA-Test"],
    .discussion-sidebar-item[data-name*="qa-test"]
  ) {
  --body-color: var(--f-warning);
}

/* The body color is green when a tester left a comment  */
body:has(.author[href*="vandergeest"]) {
  --body-color: var(--f-positive);
}

/* The body color is red when the PR is in draft */
body:has([reviewable_state="draft"]) {
  --body-color: var(--f-error);
}

/* The body color is red when the PR has pipeline issues */
body:has(.merge-status-item .color-fg-danger) {
  --body-color: var(--f-error);
}

/* 
-- EXTRA QUALITY OF LIFE CHANGES --
 */

/* add absolute time */
relative-time:after {
  font-size: 70%;
  content: " " attr(datetime);
  font-weight: bold;
  opacity: 0.5;
}

/* resize the sidebar */
.Layout-sidebar {
  resize: horizontal;
}

/* hide draftS IN PR List */
.js-issue-row:has([aria-label*="Draft"], [href*="dependabot"]):not(:hover) {
  opacity: 0.4;
}

/* disable the merge button for PR that are not from me */
#discussion_bucket:has(.TimelineItem:nth-child(1):has([alt*="joosthobma"]))
  .merge-message
  .BtnGroup:not(:hover) {
  opacity: 0.2;
  cursor: not-allowed;
}

/* 
-- LOCK MERGE --
 */
#lock-merge {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
}

/*
-- MESSAGES --
*/

.fs-messages:before,
.fs-errors:before,
.fs-error,
.fs-message {
  content: var(--message);
  padding: 8px;
  background-color: var(--f-info-border);
  color: white;
  border-radius: 4px;
  margin-bottom: 1rem;
  display: flex;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.fs-errors:before,
.fs-error {
  content: var(--error);
  background-color: var(--f-error-border);
}

body:has(#lock-merge:checked) {
  --error: "Merging is blocked";
}

body:has([title*="fixup!"]) {
  --error: "Please rebase fixups before merging";
}

%disabled-button {
  [class*="prc-Button-ButtonBase"] {
    opacity: 0.2;
    pointer-events: none;
    cursor: not-allowed;
  }
}

@container style(--error) {
  [class*="prc-Button-ButtonBase"] {
    @extend %disabled-button;
  }
}

body:has(.fs-error) {
  --merge-opacity: 0.2;
  --merge-pointer-events: none;
}

body:not(
    body:has(.js-discussion > .TimelineItem:nth-child(1) [alt*="joosthobma"])
  ) {
  --error: "This is not your PR to merge!";
}
